{% extends 'base.html.twig' %}

{% block title %}Plateforme Postic
{% endblock %}

{% block main %}
	<section id="home_info" class="container-fluid section"></section>
	<section id="home_edi" class="container-fluid section"></section>
	<section id="home_facturation" class="container-fluid section"></section>
{% endblock %}
