{% extends 'base.html.twig' %}

{% block title %}Edit TypeLieu{% endblock %}

{% block body %}
    <h1>Edit TypeLieu</h1>

    {{ include('type_lieu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_lieu_index') }}">back to list</a>

    {{ include('type_lieu/_delete_form.html.twig') }}
{% endblock %}
