{% extends 'base.html.twig' %}

{% block title %}Nouveau donneur d'ordre
{% endblock %}

{% block main %}
	<section>

		<h1>Creation nouveau donneur d'ordre</h1>

		{{ include('donneur_d_ordre/_form.html.twig') }}

		<a href="{{ path('app_donneur_d_ordre_index') }}">retour à la liste</a>
	</section>
{% endblock %}
